body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
   font-family: Arial, Helvetica, sans-serif; 
   background-color: black;
   border-radius: 15px;
   max-width: 500px;
   overflow: hidden;
   
}

#display{
    width:100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border:none;
    background-color: rgb(52, 43, 43);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color:gray;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: rgb(163, 154, 154);
}

.opr-btn{
    background-color: orange;
}
.opr-btn:hover{
    background-color: rgb(215, 175, 102);
}

